/* Results.css */
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }
  
  .logout-button {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .logout-button:hover {
    background-color: #f44336; /* Rojo oscuro */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f0f0f0;
  }
  
  .total-container {
    margin-top: 10px;
    text-align: right;
    font-weight: bold;
  }
  